*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* start : body */

.container-in {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.container-fluid {
    background-color: #f1f1f1;
    padding: 50px 0px;
}

#body .container {
    padding: 0px 50px;
}

.img {
    width: 100%;
    height: 100%;
}

.box-group hr {
    width: 130px;
    height: 5px;
    border-radius: 100px;
    background-color: #009b4c;
    margin-right: 500px;
}

.txt-title {
    padding: 10px 20px;
    font-family: Montserrat-Bold;
    font-size: 13px;
    word-spacing: 2px;
    color: #413F3F;
}

.txt-title-lg {
    font-family: Montserrat-Bold;
    font-size: 29px;
    word-spacing: 2px;
    color: #413F3F;
}

.txt-title-nd {
    font-family: Montserrat-Regular;
    font-size: 18px;
    word-spacing: 2px;
}

.txt-date {
    padding: 5px 20px;
    font-family: Montserrat-Regular;
    font-size: 11px;
    color: #9C9C9C;
}

.txt-caption {
    padding: 5px 20px;
    font-family: Montserrat-Regular;
    font-size: 11px;
    text-align: justify;
    color: #7E7E7E;
}

.txt-more {
    padding: 55px 20px 0px 0px;
    font-family: Montserrat-SemiBold;
    font-size: 11px;
    text-align: right;
    color: rgb(180, 180, 180);
}

.txt-title-ft {
    text-align: left;
    font-family: Montserrat-Regular;
    font-size: 22px;
    color: #FFFFFF;
}

.txt-ft {
    text-align: left;
    font-family: Montserrat-Regular;
    font-size: 13px;
    color: #FFFFFF;
}

.txt-cr {
    text-align: center;
    font-family: Montserrat-Regular;
    font-size: 11px;
    color: #FFFFFF;
}

/* include : header */

header nav {
    text-align: right;
    background: transparent;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 9999;
    padding: 10px 30px;
    font-family: Montserrat-Regular;
    font-weight: bold;
}

header nav.a {
    text-align: right;
    background: #fff;
    color: #000000;
    position: fixed;
    width: 100%;
    padding: 20px 30px;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.25), 0 2px 10px rgba(0, 0, 0, 0.22);
}

header nav a {
    color: inherit;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    padding: 2em 2em .5em;
    -webkit-transition: all .5s ease-in;
}

.rs-navbar-top {
    height: 60px;
    background-color: red;
    width: 100%;
    padding: 20px 30px;
    color: #000000;
}

.small {
    padding: .5em 2em;
    font-size: 15px !important;
}

nav a:hover {
    text-decoration: none;
}

.active-nav {
    border-bottom: 2px solid #009b4c;
}

.portion {
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    background-color: #fff;
}

.button {
    text-align: center;
}

.button a {
    display: inline-block;
    border: 2px solid #777;
    padding: .75em 1.5em;
    color: #777;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    letter-spacing: .15em;
    word-spacing: .25em;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.button a:hover {
    color: #FFFAF0;
    background: #777;
}

#toTop img {
    width: 50px;
}

#toTop img:hover {
    cursor: pointer;
}

nav img {
    z-index: 1000;
    width: 90;
    position: absolute;
    left: 75px;
    top: 15px;
    transition: all 0.5s linear;
}

nav a i {
    margin-right: 10px;
}

nav img.b {
    top: -15px;
    width: 60px !important;
}

nav span .image {
    width: 55px;
    margin-top: 0;
    margin-left: -38px;
}

nav span .image.c {
    display: none;
}

nav .tt {
    margin-left: 110px;
    font-size: 20px !important;
}

.move {
    top: -120px;
}

.movetwo {
    margin-top: -120px;
}

nav span {
    position: absolute;
    left: 40px;
    top: 25px;
    font-weight: bold;
    transition: all 0.5s ease-in;
}

.movetext {
    top: -30px;
}

nav .title {
    padding-top: 25px;
    position: absolute;
    left: 175px;
    text-align: left;
    top: 15px;
    transition: all 0.5s linear;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.menu {
    width: 50px !important;
}

.menu.d {
    display: none;
}

.unset-nav {
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.25), 0 2px 10px rgba(0, 0, 0, 0.22);
    display: none;
    margin-top: -1px;
    margin-left: -1px;
}

.menu-icon,
.unset-nav .image {
    width: 60px;
    margin: 0 15px;
}

.unset-nav .txt-title-nd {
    padding: none;
    line-height: none;
    font-size: 20px;
}

/* Mega menu */

.dropdown {
    display: inline-flex;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    /* color: white; */
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

/* .dropdown:hover .dropbtn {
    background-color: red;
} */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .header {
    background: red;
    padding: 20px;
    color: white;
    z-index: 9999;
    
}

.dropdown:hover .dropdown-content {
    display: block !important;
    z-index: 9999;
    height: 300px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    background-color: #ccc;
    height: 250px;
}

.column a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.column a:hover {
    background-color: #ddd;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* include : left menu */

.menu-left {
    position: fixed;
    top: 0;
    width: 60%;
    height: 100%;
    left: 0;
    background-color: #ECECEC;
    color: #000000;
    z-index: 8;
    font-family: Montserrat-Regular;
    padding: 8rem 0 0 0;
    transform: translateX(-100%);
    transition: 0.7s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.nav-menu-left {
    list-style-type: none;
    width: 100%;
    padding-top: 20px;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    font-family: Montserrat-Regular;
}

.nav-menu-left li {
    padding: 10px 0 10px 10px;
    font-size: 15px;
}

.nav-menu-left li:hover {
    background-color: #B8B8B8;
    color: red !important;
}

.menu-left li a:hover {
    text-decoration: none;
}

.menu-left-show {
    transform: translateX(0) !important;
}

.menu-left li a {
    color: #3F3F3F !important;
}

/* slider */

.carousel .item {
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel .one {
    width: 100%;
    background-image: url(../imgs/image/sidoarjo.jpg);
    background-position: center;
}

.carousel .two {
    width: 100%;
    background-image: url(../imgs/image/tugu-sidoarjo.jpg);
    background-position: center;
}

.carousel .three {
    width: 100%;
}

.carousel .active {
    opacity: 1 !important;
}

.carousel .active.left {
    right: 0;
    opacity: 0;
    z-index: 2;
}

/* include : scrollbar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(146, 125, 125);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(206, 177, 177);
}


/* Slider */

.header-caption h3 {
    text-align: left;
    margin-top: -450px;
    font-weight: bold;
    margin-left: -110px;
}

.header-caption p {
    text-align: left;
    font-weight: bold;
    font-size: 50px;
    margin-left: -110px;
}

.ol-symbol {
    position: relative;
    top: 600px;
    height: 20px;
}

/* Ulasan profil */

.inner {
    background: white;
}

.profil-ulasan {
    background: white;
    text-align: center;
    margin: -145px auto;
    width: 1000px;
    padding: 40px;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
    z-index: 3;
}

.profil-ulasan h2,
.inner .jurusan h2,
.fasilitas h2,
.blog-title h2,
.galeri-title h2 {
    font-weight: bold;
}

.profil-ulasan p,
.inner .jurusan p,
.fasilitas p,
.blog-title p,
.galeri-title p {
    font-size: 18px;
    padding: 10px 0;
    line-height: 28px;
}

.inner .jurusan {
    margin-top: 260px;
    text-align: center;
}

.inner .jurusan p {
    font-size: 16px !important;
}

.jurusan .pilih-jurusan {
    font-size: 28px;
    padding-top: 20px;
}

.pilih-jurusan span {
    padding: 0 40px;
}

.pilih-jurusan i {
    font-weight: bold;
}

.pilihan {
    margin: 50px 60px;
}

.pilihan .caption {
    background: rgb(255, 208, 0);
    margin-top: -10px;
    padding: 25px 0;
    color: white;
    cursor: pointer;
}

figure {
    overflow: hidden;
}

.card-1 figure .img-tkj,
.card-2 figure .img-rpl,
.card-3 figure .img-mm {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .8s ease-in-out;
    transition: .8s ease-in-out;
}

.card-1:hover figure .img-tkj,
.card-2:hover figure .img-rpl,
.card-3:hover figure .img-mm {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

/* Fasilitas */

.fasilitas,
.galeri-title {
    text-align: center;
}

.menu-fasilitas {
    margin: 0 120px;
}

.menu-fasilitas div {
    display: inline-block;
    margin: 30px 0px 0 15px;
    background: salmon;
    width: 12%;
    height: 70px;
}

/* Teacher */

.inner .inner-des {
    margin: 50px 120px;
}

.polaroid {
    padding: 50px 80px 0 0;
}

.polaroid h2 {
    font-weight: bold;
}

.polaroid .des {
    font-size: 19px;
    padding: 30px 0;
}

.polaroid .next,
p.next {
    background: black;
    padding: 5px 10px;
    color: white;
    width: 165px;
    margin-top: -20px;
    font-style: italic;
}

.foto-teacher .poto {
    margin-top: 20px;
}

.foto-teacher .poto-1 {
    margin-top: 7px;
}

.foto-teacher .poto div,
.foto-teacher .poto-1 div {
    margin-left: 7px;
    width: 32%;
}

.foto-teacher .poto div.t-1,
.foto-teacher .poto-1 div.t-4 {
    margin-left: 3px;
}

.overlay-two {
    position: absolute;
    bottom: 0;
    left: -7px;
    right: 0;
    background-color: #f1f1f1;
    overflow: hidden;
    width: 100% !important;
    height: 0;
    transition: .5s ease;
}

.o-two:hover .overlay-two {
    height: 80px;
}

.text-two {
    color: black;
    /* font-size: 20px; */
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100% !important;
}

.text-two span {
    color: #444;
    font-size: 10px;
}

/* Blog */

.blog-title {
    text-align: center;
}

.about-blog,
.about-galeri {
    margin: 0 120px;
}

.capt-artikel {
    padding: 15px;
}

.capt-artikel h5 {
    font-weight: bold;
}

.capt-artikel p {
    font-size: 13px;
}

.capt-artikel i {
    font-size: 20px;
}

.capt-artikel span {
    font-size: 10px;
    margin-top: -15px;
    margin-left: 25px;
    position: absolute;
}

.a-bg {
    background: #f1f1f1;
}

p.tgl {
    color: white;
    padding: 20px 30px;
    font-size: 10px;
    font-weight: bold;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: #f1f1f1;
}

.a-bg:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    position: absolute;
    top: 45%;
    left: 50%;
    /* right: -10%; */
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 35px;
    margin-left: 10px;
}

.text h5 {
    font-size: 15px;
    color: black;
    margin-top: 30px;
}

.text p {
    font-size: 13px;
    line-height: 22px;
    color: #444;
    margin-top: -5px;
}

.text h6 {
    font-size: 10px;
    color: black;
    margin-top: 20px;
}

.text i {
    margin-top: 10px;
    color: black;
}

/* Galeri */

td {
    border: none !important;
}

/* Footer */

.footer {
    margin-top: -50px;
    color: white;
}

.footer p {
    font-size: 17px;
    line-height: 28px;
    padding-top: 15px;
}

.footer i {
    font-size: 30px;
}

.footer .info {
    padding: 40px 0 40px 120px;
}

.footer .info i {
    padding-top: 80px;
}

i.fb {
    margin-left: 15px;
}

table {
    margin: 0 -7px;
}

/* img-*/

/* jurusan */

.pilihan .img-tkj {
    background: url(../img/tkj.png);
    background-size: cover;
    height: 270px;
}

.pilihan .img-rpl {
    background: url(../img/mm.png);
    background-size: cover;
    height: 270px;
    background-position-x: -588px;
}

.pilihan .img-mm {
    background: url(../img/mm.png);
    background-size: cover;
    height: 270px;
}

/* fasilitas */

.fasilitas-img {
    background: url(../img/fas-1.png);
    background-size: cover;
    height: 400px;
}

.fasilitas-1 {
    background: url(../img/Intersection-27.png);
    background-size: cover;
    height: 400px;
    width: 100%;
}

.fasilitas-2 {
    background: url(../img/Intersection.png);
    background-size: cover;
    height: 400px;
}

.fasilitas-3 {
    background: url(../img/Intersection-10.png);
    background-size: cover;
    height: 400px;
}

.fasilitas-4 {
    background: url(../img/fas-1.png);
    background-size: cover;
    height: 400px;
}

.fasilitas-5 {
    background: url(../img/Intersection-27.png);
    background-size: cover;
    height: 400px;
}

.fasilitas-6 {
    background: url(../img/Intersection.png);
    background-size: cover;
    height: 400px;
}

.menu-fasilitas .fas-1 {
    background: url(../img/fas-1.png);
    background-size: cover;
    height: 70px;
    background-position-x: 810px;
}

.menu-fasilitas .fas-2 {
    background: url(../img/fas-1.png);
    background-size: cover;
    height: 70px;
    background-position-x: 810px;
}

.menu-fasilitas .fas-3 {
    background: url(../img/fas-1.png);
    background-size: cover;
    height: 70px;
    background-position-x: 810px;
}

.menu-fasilitas .fas-4 {
    background: url(../img/fas-1.png);
    background-size: cover;
    height: 70px;
    background-position-x: 810px;
}

.menu-fasilitas .fas-5 {
    background: url(../img/fas-1.png);
    background-size: cover;
    height: 70px;
    background-position-x: 810px;
}

.menu-fasilitas .fas-6 {
    background: url(../img/fas-1.png);
    background-size: cover;
    height: 70px;
    background-position-x: 810px;
}

.menu-fasilitas .fas-7 {
    background: url(../img/fas-1.png);
    background-size: cover;
    height: 70px;
    background-position-x: 810px;
}

/* Teacher */

.foto-teacher .t-1 {
    background: url(../img/t-1.png);
    background-size: cover;
    height: 200px;
}

.foto-teacher .t-2 {
    background: url(../img/t-2.png);
    background-size: cover;
    height: 200px;
}

.foto-teacher .t-3 {
    background: url(../img/t-3.png);
    background-size: cover;
    height: 200px;
}

.foto-teacher .t-4 {
    background: url(../img/t-4.png);
    background-size: cover;
    height: 200px;
}

.foto-teacher .t-5 {
    background: url(../img/t-5.png);
    background-size: cover;
    height: 200px;
}

.foto-teacher .t-6 {
    background: url(../img/t-6.png);
    background-size: cover;
    height: 200px;
}

/* Blog */

.about-blog .artikel-1 {
    background: url(../img/ar-1.png);
    background-size: cover;
    height: 150px;
    margin: -2px -17px;
    background-position: top;
}

/* galeri */

.about-galeri .galeri-1 {
    background: url(../img/Intersection.png);
    background-size: cover;
    height: 140px;
    background-position: center center;
}

.about-galeri .galeri-2 {
    background: url(../img/Intersection-10.png);
    background-size: cover;
    height: 250px;
    background-position: center right;
}

.about-galeri .galeri-3 {
    background: url(../img/Intersection.png);
    background-size: cover;
    height: 200px;
    background-position: center right;
}

.about-galeri .galeri-4 {
    background: url(../img/Intersection.png);
    background-size: cover;
    height: 200px;
    background-position: center right;
}

.about-galeri .galeri-5 {
    background: url(../img/Intersection.png);
    background-size: cover;
    height: 400px;
    background-position: center right;
}

.about-galeri .galeri-6 {
    background: url(../img/mm.png);
    background-size: cover;
    height: 250px;
    background-position: center right;
}

.about-galeri .galeri-7 {
    background: url(../img/mm.png);
    background-size: cover;
    height: 140px;
    background-position: center right;
}

.about-galeri .galeri-8 {
    background: url(../img/mm.png);
    background-size: cover;
    height: 190px;
    background-position: center right;
}

.about-galeri .galeri-9 {
    background: url(../img/mm.png);
    background-size: cover;
    height: 190px;
    background-position: center right;
    margin-right: -1px;
}

/* end img */

/* Footer */

.footer {
    margin-top: -50px;
    color: white;
}

.footer p {
    font-size: 17px;
    line-height: 28px;
    padding-top: 15px;
}

.footer i {
    font-size: 30px;
}

.footer .info {
    padding: 40px 0 40px 120px;
}

.footer .info i {
    padding-top: 80px;
}

i.fb {
    margin-left: 15px;
}




