body {
    overflow-x: hidden !important;
}

ol.symbol-ol {
    position: absolute;
    top: 550px;
}

div.carousel-caption {
    text-align: left;
    position: absolute;
    top: 178px;
    margin-left: -40px;
    width: fit-content;
}

div.carousel-caption h1 {
    font-size: 50px;
}

div.profil {
    position: relative;
    margin-top: -70px;
    background: white;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.25), 0 2px 10px rgba(0, 0, 0, 0.22);
    text-align: center;
    padding: 40px 40px 20px 40px;
}

div.profil p {
    padding: 10px 0;
}

.content-pd-100 {
    padding: 50px 0px;
}

div.jurusan .row {
    /*margin: 60px 180px;*/
}

div.fasilitas .img-cover {
    background-repeat: no-repeat;
    background-size: cover;
}

div.pilih-jurusan {
    margin-top: 50px;
}

div.jurusan .row .card-body {
    padding: 30px;
    color: white;
}

.card-body.yellow {
    background: #FFD500;
}

.card-body.green {
    background: #2ECC71;
}

.card-body.blue {
    background: #0ABDE3;
}

div.pilih-jurusan span {
    padding: 15px 30px;
    font-size: 30px;
}

div.pilih-jurusan i {
    font-size: 25px;
}

.fasilitas .flex-container {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 80px;
}

.fasilitas div.flex-container > div {
    background-color: #000;
    width: 400px;
    margin: 10px;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
}

.teacher .row {
    margin: 30px 75px;
}

.teacher .row .des {
    padding: 50px 90px 20px 15px;
}

.teacher .row .des p {
    padding: 20px 0;
}

.overlay {
    position: absolute;
    bottom: 0;
    /* left: -7px; */
    right: 0;
    background-color: #f1f1f1;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .2s ease;
}

.hover-img:hover .overlay {
    height: 100px;
}

.card {
    overflow: hidden;
}

.card-hover img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .8s ease-in-out;
    transition: .8s ease-in-out;
}

.card-hover:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.text {
    color: #333 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100% !important;
}

.text span {
    color: #444;
    font-size: 10px;
}

.blog .fafa {
    float: left;
    padding: 0 10px;
}

.overlay-two {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100% !important;
    opacity: 0;
    transition: .5s ease;
    background: #f1f1f1;
}

.hvr-img:hover .overlay-two {
    opacity: 1;
}

.overlay-two .text {
    padding: 0 40px;
}

td {
    border: none !important;
}

.captions {
    position: absolute;
    left: 135px;
    bottom: 79px;
}

/* Responsive */

@media screen and (max-width: 800px) {
    .captions {
        left: 90px;
        bottom: 84px;
        right: 172px;
    }

    .captions a {
        font-size: 17px;
    }

    ol.symbol-ol {
        top: 800px !important;
    }

    div.carousel-caption {
        top: 170px;
    }

    div.carousel-caption h1 {
        font-size: 28px;
    }

    div.carousel-caption h6 {
        font-size: 12px;
    }

    .row-res {
        margin: 0 10px !important;
    }

    .overlay-two {
        font-size: 10px !important;
    }

    .blog .fafa .fa-2 {
        margin: 0 20px !important;
    }

    .teacher .des {
        padding: 0 !important;
    }
}

@media screen and (max-width: 768px) {
    .FlexEmbed--2by1:before {
        padding-bottom: 70%;
    }

    div.carousel-caption h4 {
        font-size: 20px;
    }

    div.carousel-caption h6 {
        font-size: 12px;
    }

    div.carousel-caption {
        top: 166px;
    }

    .content-blog {
        padding: 31px !important;
    }
}

@media screen and (max-width: 600px) {
    .captions {
        left: 90px;
        bottom: 69px;
        right: 118px;
    }

    .captions a {
        font-size: 14px;
    }
}

@media screen and (max-width: 500px) {
    .FlexEmbed--2by1:before {
        padding-bottom: 70%;
    }

    .FlexEmbed--0by1:before {
        padding-bottom: 67% !important;;
    }

    div.carousel-caption {
        top: 152px;
    }

    div.carousel-caption h4 {
        font-size: 13px;
    }

    div.carousel-caption h6 {
        font-size: 10px;
    }

    div.profil {
        margin: -50px 30px;
        padding: 20px;
    }

    div.jurusan .card-img-top {
        width: 100% !important;
    }

    div.teacher .des {
        padding: 0 !important;
    }

    .teacher .row {
        margin: 20px 20px !important;
    }

    .teacher-2,
    .teacher-1 {
        margin: 10px 0 !important;
    }

    .blog-res {
        margin-top: 20px !important;
    }

    .blog .fafa {
        margin: 0 45px !important;
        padding: 0 !important;
    }

    .blog .fafa .fa-2 {
        margin: 0 20px !important;
    }

    .overlay-two {
        font-size: 14px !important;
    }

    .fasilitas {
        margin-bottom: 100px !important;
    }

    .fasilitas .flex-container {
        margin: 0 0px !important;
    }

    .fasilitas div.flex-container > div {
        margin: 10px 5px !important;
    }

    div.pilih-jurusan span {
        padding: 15px 30px;
        font-size: 25px;
    }
}

@media screen and (max-width: 450px) {
    .captions {
        left: 68px;
        bottom: 56px;
        right: 90px;
    }

    .captions a {
        font-size: 14px;
    }

    .overlay-two {
        font-size: 10px !important;
    }

    .teacher .row .poto {
        margin: 0 0 !important;
    }

    .blog .fafa {
        margin: 0 20px !important;
    }

    .FlexEmbed--0by1:before {
        padding-bottom: 52% !important;;
    }

    div.carousel-caption {
        top: 100px;
    }

    div.carousel-caption h4 {
        font-size: 8px;
    }

    div.carousel-caption h6 {
        font-size: 7px;
    }
}

.slick-next,
.slick-prev {
    z-index: 1;
}

.slick-next {
    right: 57px;
}

.slick-prev {
    left: 57px;
}

.slick-dots {
    bottom: 27px;
}

.slick-list .draggable {
    padding: 0px 19%;
    text-align: center;
}

.slick-prev:before,
.slick-next:before {
    color: #fff !important;
}

.slick-slide.slick-current.slick-center {
    opacity: 0.5;
}

.slick-dots li button:before {
    color: white;
    font-size: 11px;
    opacity: 0.7;
}

.slick-dots li.slick-active button:before {
    color: white !important;
    opacity: 1;
}

.maps {
    position: relative;
    padding-bottom: 25%;
    height: 0;
    overflow: hidden;
}

.maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/*NAVBAR*/

nav.navigation-bar {
    border-bottom: solid 1px #efefef;
    min-height: 60px;
    background: #fff;
    position: fixed;
    z-index: 99;
    width: 100%;
}

.core-nav.nav-core-fixed {
    z-index: 99 !important;
}

nav.navigation-bar .wrap-core-nav-list,
nav.navigation-bar .nav-header {
    background: #fff;
}

nav.navigation-bar .brand {
    display: block;
    position: relative;
    width: 170px;
    padding-top: 5px;
}

nav.navigation-bar .brand img {
    width: 100%;
}

nav.navigation-bar .menu li a {
    display: block;
    padding: 20px 25px;
    text-decoration: none;
    color: #333333;
}

nav.navigation-bar .menu li a:hover {
    color: #2ECC71;
}

/*
MEGAMENU STYLE
=========================== */

nav.navigation-bar .menu > li.megamenu li.megamenu > a::before {
    margin-left: 10px;
    content: '';
    border-top: solid 5px #6a6a6a;
    border-left: solid 5px transparent;
    border-right: solid 5px transparent;
    float: right;
    position: relative;
    top: 8px;
}

nav.navigation-bar .menu li.megamenu.open > a {
    color: #2ECC71;
}

/* =========================== */

nav.navigation-bar button {
    background: transparent;
    border: none;
    outline: none;
}

@media (max-width: 992px) {
    nav.navigation-bar .full-container,
    nav.navigation-bar .nav-container {
        padding-left: 0;
        padding-right: 0;
    }

    nav.navigation-bar .nav-header {
        min-height: 60px;
    }

    nav.navigation-bar .nav-header .brand {
        margin: 0 auto 5px;
        float: none;
    }

    nav.navigation-bar .nav-header .toggle-bar {
        font-size: 18px;
        position: absolute;
        top: 17px;
        left: 15px;
    }

    nav.navigation-bar .menu li a {
        padding: 10px 10px;
        border-bottom: solid 1px #efefef;
    }

    nav.navigation-bar .menu li:last-child a {
        border-bottom: none;
    }

    .FlexEmbed--0by1:before {
        padding-bottom: 52% !important;;
    }
}

ul .ul-title {
    background: #333;
    color: white;
    padding: 5px 15px;
    line-height: 25px !important;
}

.dropdown-overlay.open-dropdown {
    z-index: 1 !important;
}

.list-margin li {
    margin-bottom: 17px;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px !important;
}

.jssocials-shares {
    display: flex;
    justify-content: start;
}

.jssocials-shares div {
    margin-right: 5px;
}

.slick-list {
    height: 100%;
}

.slick-track {
    height: 100%;
}

.img-jurusan {
    position: relative;
    text-align: center;
    color: white;
}

.img-jurusan .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
}

.img-jurusan .ovrly {
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0.4;
    background: #000;
    width: 100%;
    height: 100%;
    transition: ease;
}

.img-jurusan p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-jurusan:hover .title {
    opacity: 1;
}

@keyframes animate {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

.animatedNews {
    position: relative;
    left: 0;
    animation-name: animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: -webkit-gradient(linear, left top, right top, color-stop(8%, #eeeeee), color-stop(18%, #dddddd), color-stop(33%, #eeeeee));
    background: -webkit-linear-gradient(left, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background: linear-gradient(to right, #f1f1f1 8%, #c1c1c1 18%, #f1f1f1 33%);
    -webkit-background-size: 800px 104px;
}