.blog-content {
    padding: 9em 0em;
}

.blog-content::before {
	content: '';
	display: inline-block;
	background: #2ECC71;
	width: 100%;
	height: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
}

.daftar-blog::before {
    background: #0abde3 !important;
}

.pengumuman-content {
	padding: 9em 0em;
}

.pengumuman-content::before {
	content: '';
	display: inline-block;
	background: #FFD500;
	width: 100%;
	height: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
}

.content-blog {
	padding: 57px;
}

p.title-des {
    padding: 20px 30px;
}

div.card-peng {
    margin: 0 15px;
    background: #f1f1f1;
}

div.icon {
    margin: 60px 0 10px 0;
}

.text-blog p {
	text-indent: 2em;
	text-align: justify;
}

.jur-des h3 {
    padding: 0 35px;
}

.jur-des {
    padding: 75px;
    box-sizing: border-box;
}

.jur-des p {
    padding: 20px 40px;
    font-size: 18px;
}

.img-blog {
	/* height: 100%; */
	height: 31em;
	position: relative;
}

.col-res2 {
    margin-top: 55px;
}


.FlexEmbed {
	display: block;
	overflow: hidden;
	position: relative;
}

.FlexEmbed:before {
	content: "";
	display: block;
	width: 100%;
}

.FlexEmbed--3by1:before {
	padding-bottom: 33.33333%;
}

.FlexEmbed--2by1:before {
	padding-bottom: 50%;
}

.FlexEmbed--16by9:before {
	padding-bottom: 56.25%;
}

.FlexEmbed--4by3:before {
	padding-bottom: 75%;
}

.FlexEmbed--100:before {
	padding-bottom: 100%;
}

.CoverImage {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	/* margin: 0 auto 1em; */
	max-height: 100%;
	/* max-width: 100%; */
}

footer {
	height: 11em;
	background-color: #333;
	color: white;
}

.pd-0 {
	padding: 0 !important;
}




/* Responsive */
@media screen and (max-width: 800px) {
    .img-blog {
       height: 10em !important;
    }

    .content-blog {
        padding: 20px !important;
    }

    .col-res {
        margin: 10px 0;
    }

    .card-res {
        margin-top: 20px;
    }
}