body {
    overflow-x: hidden !important;;
}

/*PRELOAD*/
#load {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        -ms-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}

/*BACKGOUND CONTENT*/
.green-content {
    padding: 9em 0em;
}

.green-content::before {
    content: '';
    display: inline-block;
    background: #2ECC71;
    width: 100%;
    height: 650px;
    z-index: -1;
    position: absolute;
    top: 0;
}

.blue-content {
    padding: 9em 0em;
}

.blue-content::before {
    content: '';
    display: inline-block;
    background: #00AEFF;
    width: 100%;
    height: 650px;
    z-index: -1;
    position: absolute;
    top: 0;
}

.yellow-content {
    padding: 9em 0em;
}

.yellow-content::before {
    content: '';
    display: inline-block;
    background: #FFD500;
    width: 100%;
    height: 650px;
    z-index: -1;
    position: absolute;
    top: 0;
}

.content-blog {
    padding: 57px;
}

/* profile */

.content-profile {
    background-color: #ECECEC;
    padding: 20px 20px 0px 20px;
}

.text-blog p {
    text-indent: 2em;
    text-align: justify;
}

.img-blog {
    /* height: 100%; */
    height: 31em;
    position: relative;
}

.FlexEmbed {
    display: block;
    overflow: hidden;
    position: relative;
}

.FlexEmbed:before {
    content: "";
    display: block;
    width: 100%;
}

.FlexEmbed--3by1:before {
    padding-bottom: 37.33333%;
}

.FlexEmbed--2by1:before {
    padding-bottom: 50%;
}

.FlexEmbed--16by9:before {
    padding-bottom: 56.25%;
}

.FlexEmbed--4by3:before {
    padding-bottom: 75%;
}

.FlexEmbed--100:before {
    padding-bottom: 100%;
}

.FlexEmbed--1by1:before {
    padding-bottom: 37%;
}

.FlexEmbed--0by1:before {
    padding-bottom: 27%;
}

.CoverImage {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    /* margin: 0 auto 1em; */
    max-height: 100%;
    /* max-width: 100%; */
}

/* start font */

.font--sz12 {
    font-size: 12px;
}

.font--sz11 {
    font-size: 11px;
}

.font--sz13 {
    font-size: 13px;
}

.font--sz14 {
    font-size: 14px;
}

.font--sz9 {
    font-size: 9px;
}

.font--sz8 {
    font-size: 8px;
}

.fafa-style {
    color: white;
    text-align: center;
}

.card-body {
    background-color: #F0F0F0;
}

.padding-content {
    margin-top: 70px;
}

.list-style-ol {
    list-style-type: lower-alpha;
}

.slider-size {
    width: 100%;
    height: 600px;
}

.img {
    width: 100%;
    height: 100%;
}

footer {
    height: 11em;
    background-color: #333;
    color: white;
}

.pd-0 {
    padding: 0 !important;
}

/* overlay */

.containera {
    position: relative;
    width: 100%;
    height: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F0F0F0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transform: translateZ(0);
    will-change: transform;
}

.containera:hover .overlay {
    height: 100%;
}

@media all and (transform-3d),
(-webkit-transform-3d) {

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6)
}

@media screen and (min-width: 768px) {
    .carousel-caption {
        right: 20%;
        left: 20%;
        padding-bottom: 30px
    }
}

/*SLICK*/



.rows {
    display: flex !important;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

#photos {
    /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 0px;
}

#photos img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    padding: 1em;
}

@media (max-width: 1200px) {
    #photos {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media (max-width: 1000px) {
    #photos {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 800px) {
    #photos {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 400px) {
    #photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}

.card-body p img,
.overlay p img,
.card-body p a.fr-file,
.overlay p a.fr-file {
    display: none;
}

.text-wrap p:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-wrap p:not(:first-child) {
    display: none;
}