@charset "UTF-8";
.quote-card {
	background: #fff;
	color: #222222;
	padding: 20px;
	padding-left: 50px;
	box-sizing: border-box;
	box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
	position: relative;
	overflow: hidden;
	min-height: 120px;
}

.quote-card p {
	font-size: 22px;
	line-height: 1.5;
	margin: 0;
	max-width: 80%;
}

.quote-card p.text-sm {
	font-size: 16px;
	margin-top: 10px;
	display: block;
	font-weight: 200;
	opacity: 0.8;
}

.quote-card:before {
	font-family: Georgia, serif;
	content: "“";
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 5em;
	color: rgba(238, 238, 238, 0.8);
	font-weight: normal;
}

.quote-card:after {
	font-family: Georgia, serif;
	content: "”";
	position: absolute;
	bottom: -110px;
	line-height: 100px;
	right: -32px;
	font-size: 25em;
	color: rgba(238, 238, 238, 0.8);
	font-weight: normal;
}

@media (max-width: 640px) {
	.quote-card:after {
		font-size: 22em;
		right: -25px;
	}
}

/*! suit-flex-embed v1.4.0 | MIT License | github.com/suitcss */

.FlexEmbed {
	display: block;
	overflow: hidden;
	position: relative;
}

.FlexEmbed:before {
	content: "";
	display: block;
	width: 100%;
}

.FlexEmbed--3by1:before {
	padding-bottom: 33.33333%;
}

.FlexEmbed--2by1:before {
	padding-bottom: 50%;
}

.FlexEmbed--16by9:before {
	padding-bottom: 56.25%;
}

.FlexEmbed--4by3:before {
	padding-bottom: 75%;
}

.FlexEmbed--100:before {
	padding-bottom: 100%;
}

.CoverImage {
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	/* margin: 0 auto 1em; */
	max-height: 100%;
	/* max-width: 100%; */
}

div.tagsinput {
	width: 100% !important;
	height: 100% !important;
}

#actions {
	margin: 2em 0;
}

.info-file {
	display: grid;
	align-items: center;
}

div.table .file-row {
	background: #f9f9f9;
	padding: 11px;
}

/* The total progress gets shown by event listeners */

#total-progress {
	opacity: 0;
	transition: opacity 0.3s linear;
}

/* Hide the progress bar when finished */

#previews .file-row.dz-success .progress {
	opacity: 0;
	transition: opacity 0.3s linear;
}

/* Hide the delete button initially */

#previews .file-row .delete {
	display: none;
}

/* Hide the start and cancel buttons and show the delete button */

#previews .file-row.dz-success .start,
#previews .file-row.dz-success .cancel {
	display: none;
}

#previews .file-row.dz-success .delete {
	display: block;
}
